<footer class="footer">
  <div class="container text-center">
    <span class="text-muted font-weight-light">Copyright &copy; 2018 built by
      <a href="https://yanstefanovich.github.io/"
         target="_blank">Yan Stefanovich</a></span>
  </div>
</footer>
