<h1 class="text-center">About</h1>
<p class="lead text-center">This is a Node/Express App for creating and storing notes.
A Note was built with the help of these npm modules:
</p>

<ul class="lead">
  <li>Express&mdash;setting up and manipulating the server</li>
  <li>Handlebars&mdash;view rendering</li>
  <li>MongoDB&mdash;data storage</li>
  <li>Mongoose&mdash;interacting with MongoDB</li>
  <li>body-parser&mdash;parse incoming form requests</li>
  <li>method-override&mdash;allow forms to process put and delete requests</li>
  <li>connect-flash&mdash;flash messaging</li>
  <li>express-session&mdash;user sessions</li>
  <li>Passport&mdash;authentication</li>
</ul>

<p>Version: 1.0.0</p>
