<div class="card card-body">
  <h3 class="text-center">Edit The Note</h3>
  <form class="" method="POST" action="/notes/{{note.id}}?_method=PUT">
    <div class="form-group">
      <input type="hidden" name="_method" value="PUT">
      <label for="title">Title</label>
      <input type="text" value="{{note.title}}" name="title" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="contents">The Note</label>
      <textarea name="contents" class="form-control" required>{{note.contents}}</textarea>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
