{{#each notes}}
<div class="card card-body mb-2">
  <h4>{{title}}</h4>
  <p>{{contents}}</p>
  <a class="btn btn-dark btn-block" href="/notes/edit/{{id}}">Edit</a>
</div>
{{else}}
<p>No Notes Listed</p>
{{/each}}
