<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <img  class="logo" src="/images/icon.svg" alt="Logo">
        <h1 class="font-weight-light text-center">Login</h1>
        <form class="" action="/users/login" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
