<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <img  class="logo" src="/images/icon.svg" alt="Logo">
        <h1 class="font-weight-light text-center">Register</h1>
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control" required>
            </div>
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password-1">Password</label>
            <input type="password" name="password-1" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password-2">Confirm Password</label>
            <input type="password" name="password-2" class="form-control" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
