<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <img  class="logo" src="/images/icon.svg" alt="Logo">
        <h1 class="font-weight-light text-center">Register</h1>
        <form class="" action="/users/register" method="post">
          <div class="form-group">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" value="{{name}}" class="form-control" required>
            </div>
            <div class="form-group">
              <div class="alert alert-warning">
                When creating a username, opt for a non-existing email. The application is not
                yet optimized for full safety.
              </div>
              <label for="email">Email</label>
              <input type="email" name="email" value="{{email}}" class="form-control" required>
            </div>
            <div class="form-group">
              <div class="alert alert-warning">
                When creating a password, opt for a dummy password. The application is not
                yet optimized for full safety.
              </div>
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password2">Confirm Password</label>
              <input type="password" name="password2" class="form-control" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div class="text-center mt-3 mb-1">
              Already registered?
            </div>
            <div class="text-center">
              <a class="btn btn-secondary" href="/users/login">Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
